# Clé API pour l'IA (à personnaliser)
IA_API_KEY=ma_cle_api_super_secrete
# Exemple de variables d'environnement backend
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=azerty
DB_NAME=blog_ai_tech
JWT_SECRET=une_chaine_secrete
LOG_ERRORS=true
BASE_URL=http://localhost
PORT=5000